NET "CLKOUT" TNM_NET = "CLKOUT";
NET "CLKOUT" IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLKOUT = PERIOD "CLKOUT" 48 MHz HIGH 50 %;

NET "IFCLK"  LOC = M9;
NET "IFCLK"  IOSTANDARD = LVCMOS33;

NET "pktend" LOC = R5;
NET "pktend" IOSTANDARD = LVCMOS33;

NET "FDATA<0>"  LOC = M12; 
NET "FDATA<1>"  LOC = L8;
NET "FDATA<2>"  LOC = N12;
NET "FDATA<3>"  LOC = N9;
NET "FDATA<4>"  LOC = P12;
NET "FDATA<5>"  LOC = P11;
NET "FDATA<6>"  LOC = M11;
NET "FDATA<7>"  LOC = M10;
NET "FDATA<8>"  LOC = P4;
NET "FDATA<9>"  LOC = N6;
NET "FDATA<10>"  LOC = M6;
NET "FDATA<11>"  LOC = P6;
NET "FDATA<12>"  LOC = N5;
NET "FDATA<13>"  LOC = L7;
NET "FDATA<14>"  LOC = P5;
NET "FDATA<15>"  LOC = P7;

NET "FDATA<0>"  IOSTANDARD = LVCMOS33;
NET "FDATA<1>"  IOSTANDARD = LVCMOS33;
NET "FDATA<2>"  IOSTANDARD = LVCMOS33;
NET "FDATA<3>"  IOSTANDARD = LVCMOS33;
NET "FDATA<4>"  IOSTANDARD = LVCMOS33;
NET "FDATA<5>"  IOSTANDARD = LVCMOS33;
NET "FDATA<6>"  IOSTANDARD = LVCMOS33;
NET "FDATA<7>"  IOSTANDARD = LVCMOS33;
NET "FDATA<8>"  IOSTANDARD = LVCMOS33;
NET "FDATA<9>"  IOSTANDARD = LVCMOS33;
NET "FDATA<10>"  IOSTANDARD = LVCMOS33;
NET "FDATA<11>"  IOSTANDARD = LVCMOS33;
NET "FDATA<12>"  IOSTANDARD = LVCMOS33;
NET "FDATA<13>"  IOSTANDARD = LVCMOS33;
NET "FDATA<14>"  IOSTANDARD = LVCMOS33;
NET "FDATA<15>"  IOSTANDARD = LVCMOS33;

NET "FIFOADR<0>"  LOC = T6;	# PA4
NET "FIFOADR<1>"  LOC = T5;	# PA5
NET "SLRD"  LOC = N8;
NET "SLWR"  LOC = P8;
NET "SLOE"  LOC = T7;		# PA2
NET "FLAGA"  LOC = L10;
NET "FLAGD"  LOC = T4;

NET "LED[0]" LOC = H14;
NET "LED[1]" LOC = H13;
NET "LED[2]" LOC = F13;
NET "LED[3]" LOC = F14;

NET "FIFOADR<0>"  IOSTANDARD = LVCMOS33;
NET "FIFOADR<1>"  IOSTANDARD = LVCMOS33;
NET "SLRD"  IOSTANDARD = LVCMOS33;
NET "SLWR"  IOSTANDARD = LVCMOS33;
NET "SLOE"  IOSTANDARD = LVCMOS33;
NET "FLAGA"  IOSTANDARD = LVCMOS33;
NET "FLAGD"  IOSTANDARD = LVCMOS33;

NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;